/*---------------------------
About Section Start
---------------------------*/
.section-about-video,
.section-about-video-player {
  width: 100%;
  height: 100%;
}

.section-about-video {
  box-shadow: var(--secondary-shadow);
  border-radius: 2rem;
  overflow: hidden;
}

.section-about-badge-link {
  grid-column: 2;
}

.section-about-badge {
  width: 25rem;
  -webkit-filter: drop-shadow(0 0 9.7rem var(--helper));
  filter: drop-shadow(0 0 9.7rem var(--helper));
}
