/*---------------------------
About Section Start
---------------------------*/
.section-about-video,
.section-about-video-player {
  width: 100%;
  height: 100%;
}

.section-about-video {
  box-shadow: var(--secondary-shadow);
  border-radius: 2rem;
  overflow: hidden;
}

.section-about-badge-link {
  grid-column: 2;
  width: 25rem;
  /* Cannot use filter, because lags on Safari Browser */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-about-badge {
  width: 25rem;
  height: 25rem;
  position: relative;
}

.section-about-badge-link::before {
  /* Adding Shadow */
  content: "";
  display: block;
  position: absolute;
  height: 24rem;
  width: 24rem;
  border-radius: 2rem;
  box-shadow: var(--secondary-shadow);
  z-index: -1;
}
