/*---------------------------
Certificates Section Start
---------------------------*/
.section-certificates-items {
  align-items: center;
}
.section-certificates-item-img {
  width: 100%;
  border-radius: 1rem;
  transition: all 0.3s linear;
  cursor: pointer;
  box-shadow: var(--shadow);
  height: auto;
}

.section-certificates-item-img:hover {
  transform: translateY(-1rem);
}
