/*---------------------------
Certificates Section Start
---------------------------*/
.section-certificates-items {
  align-items: center;
}

.section-certificates-gallery-item-link {
  background-color: var(--bg);
  height: 100%;
  border-radius: 1rem;
}

.section-certificates-item {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

.section-certificates-item-img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.section-certificates-item-img:hover {
  transform: translateY(-1rem);
}
