/*---------------------------
Contact Section Start
---------------------------*/
.section-contact,
.section-contact-form {
  display: flex;
  flex-direction: column;
}

.section-contact-map {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: var(--secondary-shadow);
}

.section-contact-form {
  gap: 1rem;
  width: 100%;
}

.section-contact-data {
  width: 100%;
}

.section-contact-input-field {
  width: 100%;
  overflow: hidden;
}

.section-contact-input-label {
  display: block;
  font-size: 1.65rem;
  transition: all 0.3s linear;
}

.section-contact-input-label::after {
  content: "*";
  color: #ff0000;
}

.section-contact-input {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--helper);
  box-shadow: var(--shadow);
  font-size: 1.65rem;
  background-color: var(--white);
  outline: none;
  color: var(--black);
}

textarea.section-contact-input {
  resize: none;
  height: 20rem;
  font-family: inherit;
}

.section-contact-form-submit-btn {
  align-self: center;
  width: 100%;
}

.section-contact-form-submit-btn:disabled {
  background-color: grey;
  cursor: not-allowed;
  box-shadow: none;
}
