/*---------------------------
Header Section Start
---------------------------*/
.section-header {
  padding: 0 4.8rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 10rem;
  transition: all 0.3s linear;
  overflow: hidden;
}

.section-header-logo {
  font-size: 3rem;
  color: var(--black);
}

.section-header-navbar {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.section-header-navbar-links {
  display: flex;
  gap: 4.8rem;
}

.section-header-navbar-link:link,
.section-header-navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: all 0.3s linear;
}

.section-header-navbar-link:link:hover,
.section-header-navbar-link:visited:hover,
.section-header-navbar-link.section-header-navbar-link-active {
  color: var(--helper);
}

.section-header-navbar-link::after {
  display: block;
  content: "";
  border-bottom: 0.5rem solid var(--helper);
  border-radius: 2rem;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 250ms ease-in-out;
}

.section-header-navbar-link:hover::after,
.section-header-navbar-link:active::after,
.section-header-navbar-link.section-header-navbar-link-active::after {
  display: block;
  content: "";
  border-bottom: 0.5rem solid var(--helper);
  transform: scaleX(1);
  transform-origin: 0% 50%;
  margin-bottom: -0.5rem;
}

.section-header-checkbtn {
  display: none;
  font-size: 3rem;
  float: right;
  line-height: 8rem;
  cursor: pointer;
}

#section-header-check,
ion-icon[name="close-outline"] {
  display: none;
}

.section-header-darkmode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header-theme-toggler {
  -webkit-appearance: none;
  appearance: none;
  width: 10rem;
  height: 2rem;
  background-color: var(--helper);
  border-radius: 2rem;
  outline: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.section-header-theme-toggler::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  position: relative;
  background-color: #fff;
}

.section-header-theme-toggler::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  position: relative;
  background-size: cover;
}
