/* Load Ionicons library */
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

/*---------------------------
Header Section Start
---------------------------*/
.section-header {
  padding: 0 4.8rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 10rem;
  transition: all 0.3s linear;
}

.section-header-logo {
  font-size: 3rem;
  color: var(--black);
}

.section-header-navbar {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.section-header-navbar-links {
  display: flex;
  gap: 4.8rem;
}

.section-header-navbar-link:link,
.section-header-navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: all 0.3s linear;
}

.section-header-navbar-link:link:hover,
.section-header-navbar-link:visited:hover {
  color: var(--helper);
}

.section-header-navbar-link::after {
  display: block;
  content: "";
  border-bottom: 0.5rem solid var(--helper);
  border-radius: 2rem;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 250ms ease-in-out;
}

.section-header-navbar-link:hover::after,
.section-header-navbar-link:active::after {
  display: block;
  content: "";
  border-bottom: 0.5rem solid var(--helper);
  transform: scaleX(1);
  transform-origin: 0% 50%;
  margin-bottom: -0.5rem;
}

.section-header-checkbtn {
  display: none;
  font-size: 3rem;
  float: right;
  line-height: 8rem;
  cursor: pointer;
}

#section-header-check,
ion-icon[name="close-outline"],
#section-header-darkmode {
  display: none;
}

.section-header-darkmode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header-darkmode-switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background-color: var(--helper);
  border-radius: 2rem;
}

.section-header-darkmode-switch::after {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ionicons";
  content: "\f4b6";
  font-size: 2rem;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--white);
  border-radius: 2rem;
  transition: all 0.3s linear;
}

input[type="checkbox"]:checked + .section-header-darkmode-switch::after {
  content: "\f467";
  translate: 2rem 0;
  height: 1.8rem;
  color: var(--black);
}
