/*---------------------------
Hero Section Start
---------------------------*/
.section-hero {
  padding: 0;
  height: 80vh;
  position: relative;
  text-align: center;
  background: transparent;
  padding-top: 4rem;
}

.section-hero-logo {
  position: sticky;
  top: 10rem;
  text-align: center;
  z-index: -1;
}

.section-hero-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
  -webkit-filter: grayscale() drop-shadow(0 0 4rem var(--helper));
  filter: grayscale() drop-shadow(0 0 4rem var(--helper));
}

.section-hero-text-box {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--black);
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10rem;
  box-shadow: var(--secondary-shadow);
  transition: all 0.3s linear;
}

.section-hero-text {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 600;
}
