/*---------------------------
Projects Section Start
---------------------------*/
.section-projects-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  margin: 6.4rem 0;
}

.section-projects-btn-active {
  transform: translateY(-1rem);
  box-shadow: 0 2rem 2rem 0 var(--shadow-support);
}

.section-projects-image-not-active {
  display: none;
}

.section-projects-links {
  gap: 3.2rem;
}

.section-projects-link {
  display: flex;
  flex-direction: column;
}
