* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

:root {
  --heading: #000;
  --para: #281f7f;
  --para-tint: #edecff;
  --white: #fff;
  --black: #000;
  --helper: #4f3dfe;
  --overlay-color: #3f31cb;
  --helper-tint: #cac5ff;
  --bg: #edecff;
  --icon-bg: rgba(220, 216, 255, 0.2);
  --gradient: linear-gradient(0deg, rgb(114 100 254) 0%, rgb(149 139 254) 100%);
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(114 100 254) 0%,
    rgb(149 139 254) 100%
  );
  --shadow: 0rem 0rem 0.5rem 0rem rgb(8 6 25 / 20%);
  --shadow-support: rgb(63 49 203 / 30%);
  --secondary-shadow: 0 0 9.7rem -2.6rem var(--helper);
  --backdropColor: "rgba(237, 236, 255, 0.3)";
}

*::selection {
  background: var(--helper);
  color: var(--para-tint);
}

::-webkit-scrollbar {
  width: 1.5rem;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--helper);
  border: 0.1rem solid transparent;
  border-radius: 0.9rem;
  background-clip: content-box;
}

body {
  background-color: var(--bg);
}

/*---------------------------
Reusable CSS
---------------------------*/
.section {
  padding: 9rem 0;
  background-color: var(--white);
  overflow: hidden;
  transition: all 0.3s linear;
}

.section:nth-child(odd) {
  background-color: var(--bg);
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 4rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  background: var(--helper);
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 9rem;
  color: var(--white);
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.btn:hover,
.btn:active {
  box-shadow: 0 2rem 2rem 0 var(--shadow-support);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--helper);
  border-radius: 50%;
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 118%;
  left: 1.5rem;
  min-width: 20rem;
  height: 0.3rem;
  background: var(--helper);
}

.common-text {
  margin-bottom: 2rem;
}

.logo {
  font-weight: 700;
}

.logo::after {
  content: ".";
  color: var(--helper);
}

.image-overlay {
  position: relative;
  overflow: hidden;
  height: 30rem;
  border-radius: 2rem;
  overflow: hidden;
}

.image-overlay-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--helper);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 0.7rem;
  width: 100%;
}

.image-overlay-description {
  color: var(--white);
}

.image-overlay:hover .image-overlay-link {
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
}

.image-overlay .common-heading {
  margin: 0;
  color: var(--white);
  text-decoration: none;
  text-align: center;
}

.image-overlay .common-heading::after,
.image-overlay .common-heading::before {
  display: none;
}

.error-message {
  color: #ff0000 !important;
  transition: all 0.3s linear;
}

/*---------------------------
Fancybox
---------------------------*/
.fancybox-image {
  border-radius: 2rem;
}
