.transition {
  opacity: 0;
  transition: opacity 0.5s linear, transform 0.5s linear;
}

.transition.from-left {
  transform: translateX(-50%);
}

.transition.from-right {
  transform: translateX(50%);
}

.transition.from-top {
  transform: translateY(-50%);
}

.transition.from-bottom {
  transform: translateY(50%);
}

.transition.in-view {
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition: all 0.8s linear;
}
